@import "../../../styles//color-variables";
:host {
  position: absolute;
  bottom: -1rem;
}

.random-btn {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background-color: $neon-green;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.1s ease-out;
}

.random-btn:hover {
  box-shadow: 0 0 0.8rem $neon-green;
}